wp-config.php
/.env
/vendor
debug.log
wp-content/debug.log
wp-content/plugins/chat-plugin/certificate.crt
wp-content/plugins/chat-plugin/private.key
wp-content/plugins/rest-react-chat.zip
wp-content/plugins_and_themes_chat_backup.zip
config.php

wp-content/debug.log
